<% if current_user.login_approval_at %>
<% if current_user.has_role? :admin %>
<h1>Editing post contact information</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', installations_path %>
<% end %>
<% end %>