$icon-user: "\e600";
$icon-caller: "\e602";
$icon-menu: "\e603";
$icon-chevron-right: "\e604";
$icon-chevron-left: "\e605";
$icon-chevron-up: "\e606";
$icon-chevron-down: "\e607";
$icon-close: "\e608";
$icon-calender: "\e609";
$icon-location: "\e60a";
$icon-ok: "\e60b";
$icon-angle-up: "\e60c";
$icon-angle-down: "\e60d";
$icon-filter: "\e60e";
$icon-ellipsis: "\e60f";
$icon-plus: "\e610";
$icon-search: "\e611";
$icon-minus: "\e612";
$icon-tuktuk: "\e613";
$icon-taxi: "\e614";
$icon-economy: "\e615";
$icon-premium: "\e616";
$icon-van: "\e617";
$icon-more_copy: "\e618";


@font-face {
  font-family: 'vgo';
  src: url(/assets/icons/icons.eot);
  src: url(/assets/icons/icons.woff2) format('woff2'),
    url(/assets/icons/icons.woff) format('woff'),
    url(/assets/icons/icons.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'vgo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e600";
}
.icon-caller:before {
  content: "\e602";
}
.icon-menu:before {
  content: "\e603";
}
.icon-chevron-right:before {
  content: "\e604";
}
.icon-chevron-left:before {
  content: "\e605";
}
.icon-chevron-up:before {
  content: "\e606";
}
.icon-chevron-down:before {
  content: "\e607";
}
.icon-close:before {
  content: "\e608";
}
.icon-calender:before {
  content: "\e609";
}
.icon-location:before {
  content: "\e60a";
}
.icon-ok:before {
  content: "\e60b";
}
.icon-angle-up:before {
  content: "\e60c";
}
.icon-angle-down:before {
  content: "\e60d";
}
.icon-filter:before {
  content: "\e60e";
}
.icon-ellipsis:before {
  content: "\e60f";
}
.icon-plus:before {
  content: "\e610";
}
.icon-search:before {
  content: "\e611";
}
.icon-minus:before {
  content: "\e612";
}
.icon-tuktuk:before {
  content: "\e613";
}
.icon-taxi:before {
  content: "\e614";
}
.icon-economy:before {
  content: "\e615";
}
.icon-premium:before {
  content: "\e616";
}
.icon-van:before {
  content: "\e617";
}
.icon-more_copy:before {
  content: "\e618";
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'vgo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  &:before {
    vertical-align: middle;
    font-family: 'vgo';
  }
}


.icon-action:before {
  content: "\e60f";
}

.AppControls-filter {
  .icon-angle-down:before {
    font-size: 9px;
  }
  &:hover {
    color: $colorGreen; border: 1px solid $colorGreen;
  }

  .open & {
    .icon-angle-down:before {
      content: '\e60c';
    }
  }
}

