<% if current_user.login_approval_at %>
<% if current_user.has_any_role? :admin, :volunteer, :contributor %>
<h1>Editing photo</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>
<% end %>
<% end %>