<h2>Listing photos</h2>
 
<%= render partial: "search_form" %>

<table class="table table-striped" id="customers">
  <tr>
    <th>Language</th>
    <th>Category</th>
    <th>English Text</th>
    <th>Phonetic Text</th>
    <th>State</th>
    <th>Picture</th>
    <th colspan="2"></th>
  </tr>
 
  <div id="articles">
    <%= render partial: 'article', collection: @articles %>
  </div>
</table>

<%= paginate @articles %>
