<header class="app-bar promote-layer">
    <div class="app-bar-container">
        <button class="menu"><span class="icon-menu"></span></button>

        <div class="Heading">
            <h1 class="title"><span>Photos</span></h1>
        </div>
    </div>
</header>
<main>
    <div class="AppControls">
        <div class="AppControls--box AppControls-left">
            <form class="Form Form--inline AppControls-search" method='get'>
                <div class="Form-group">
                    <input type="search" class="Form-control" name="q" id="search" placeholder="Search Photos" />
                </div>
                <button type="submit" class="btn btn-default icon-search">Search</button>
            </form>
        </div>

        <div class="AppControls--box AppControls-middle"></div>

        <div class="AppControls--box AppControls-right">
            <a class="button--icontext button--ricontext" href="<%= new_article_path %>"><i class="icon-plus"></i> <span>New Photo</span></a>
        </div>
    </div>

    <div class="CardListTable">
        <ul class="CardListTable-body">
            <%= render partial: 'article', collection: @articles %>
        </ul>
    </div>

    <%= paginate @articles %>
</main>
