<header class="app-bar promote-layer">
  <div class="app-bar-container">

    <button class="menu"><span class="icon-menu"></span></button>

    <div class="Heading">
      <%= link_to articles_path, class: "Back" do %>
        <span class="icon-chevron-left-thin"></span><span class="Back-text">Back</span>
      <% end %>
      <h1 class="title"><span>New Photo</span></h1>
    </div>

    <ul class="app-bar-actions">
      <li>
        <button class="button button--primary" form="_form">Submit</button>
      </li>
    </ul>

  </div>
</header>

<main>
  <div class="Form u-pushTopBottom clear">
    <%= render 'form' %>
    <div class="clear"></div>
  </div>
</main>
