@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.navbar-inner {
    border-radius: 0 0 0 0;
    padding-left: 0;
    padding-right: 0;
}
/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
          margin-bottom: 20px;
}
.subnav ul {
  margin-bottom: 0;
}
.subnav ul li {
  float: left;
}
.subnav ul > li > a {
  margin: 0;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav ul > .active > a,
.subnav ul > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav ul > .active > a .caret,
.subnav ul > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav ul > li:first-child > a,
.subnav ul > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav ul > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.heading { margin-bottom: 10px; }
/*h2 { margin-left: 8px; } */

.control-group .field_with_errors label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}
.field_with_errors label { color: #B94A48; }
.field_with_errors input, .field_with_errors textarea { border-color: #B94A48; color: #B94A48; }
#error_explanation {
    background-color: #FFF0F0;
    border-bottom: 1px solid #F0C6C6;
    border-top: 1px solid #F0C6C6;
    color: #8C3F3F;
    margin: 0 0 20px 0;
    padding: 0;
}

#error_explanation h2 { 
    background-color: #FFE5E5;
    color: #8C3F3F;
    display: block;
    font-size: 15px;
    font-style: normal;
    margin: 0;
    padding: 0 10px;
    font-weight: normal;
  }
#error_explanation ul { padding-top: 10px; } 
#error_explanation li { padding-bottom: 5px; font-size: 12px; }
.help-inline { color: #999999; font-size: 12px; }
.btn-wrapper { display: inline-block; left: 5px; position: relative; top: 2px; }
.btn-wrapper span { position: relative; font-size: 12px; right: 5px; padding: 0 0 0 5px; }
.btn-wrapper a { font-size: 12px; }
legend { margin-bottom: 30px; 
  font-size: 19.5px;
  line-height: 36px;
}

.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.notice, .notice .alert-heading {
  color: #468847;
}
.ui-datepicker-trigger { margin-left: 5px; }
.navi-external { margin-left: 0; }
.navi-external li { margin-right: 8px; display: inline; list-style: none; }
.navi-external span { margin-right: 10px; }
hr { margin: 10px 0 15px }
.right { text-align: right; }
.mtl { margin-top: 40px; }
.option { position: absolute; right: 0; top: 5px; }
.row h2 { margin-bottom: 10px; }
.h3_title {
  font-weight: normal;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee;
}
.date img { position: relative; top: 5px; }
#preview .light { color: #999; }
#preview p { color: #000; }

.bdot { margin: 0 0 7px; border-style: dotted; }
#preview ul, #preview ol { margin-left: 15px; }
#preview ul li, #preview ol li { margin-bottom: 10px; }
#loading {  display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px; }
.relative { position: relative; }
.option_btn { position: absolute; top: 5px; right: 0; }
.approved {
    background-color: #468847;
}
.pending {
    background-color: #F89406;
}
.draft {
    background-color: #B94A48;
}
.search { text-align: right; }
.search-query {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
form { margin: 0; }
ul.unstyled li { padding-bottom: 5px; }
ul.unstyled li.small { font-size: 12px; }
.header-nav .container { background: url("/assets/header_bk.png") repeat-x scroll left bottom transparent; height: 130px; position: relative; padding: 0 }
.header-nav .container .nav { position: absolute; right: 0; bottom: 5px; }
.header-nav .container .nav li {
  margin-left: 5px;
}
.header-nav .container .nav li a {
  background: #FFFFCC;
  border: 1px solid #FFCC66;
  padding: 7px 20px 8px;
  text-shadow: none;
  color: #222;
}
.header-nav .container .nav li.active a {
  background: #B21002;
  border: 1px solid #B21002;
  color: #FFF;
}
.navbar .nav { margin: 0; right: 0; left: auto; }
.navbar-text a { padding: 10px; background-color: #F5F5F5; font-size: 12px; text-transform: uppercase; color: #B21002; }
.navbar .navbar-text { margin: -15px 0 0 5px; }
.navbar .navbar-text a:hover { background-color: #F5F5F5; color: #222 }

.navbar .nav>li {
    display: block;
    float: left
}

.icon-question-sign {
    background-position: 0 50%;
    height: 16px;
    width: 16px;
    background-image: url("/assets/help.png");
}

.list-option { float: right; }
.loading_form_submit { left: 10px; position: relative; top: 5px; }
.heading { position: relative; }
.flag-img { float: left; margin-right: 1px;}
.helper_list img { position: relative; top: 4px; }
.helper_list span { margin-right: 15px; display: inline-block; }

.form-horizontal .help-inline { margin-top: 10px; display: inline-block; }
.remember_block { padding-left: 35px; }
.remember_block label { font-weight: normal; }

.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd
}
.navbar-brand { padding: 15px 0; }
.dl-horizontal dt { padding-bottom: 10px; border-bottom: 1px }

.nav > li > a { padding: 6px 10px }
.form-horizontal { margin-top: 20px; }
