<div class="row">
    <div class="span8 search">
      <form class="form-search" action="" method='get'>
        <%= text_field_tag :q, params[:search], id: 'search_field', class: 'input-medium search-query'  %>
        <button class="btn btn-default btn-xs" type="submit">Search</button>
      </form>
    </div>
</div>

<hr />
