<% error_message_object = error_messages.is_a?(ActionView::Helpers::FormBuilder) ? error_messages.object : error_messages %>

<%= content_tag :div, class: "error_body" do %>
  <div class="alert error_message">
    <%= content_tag :h3, "#{pluralize(error_message_object.errors.count, "error")} prohibited this #{error_message_object.class.name.try(:downcase)} from being saved:" %>

    <ul>
      <% error_message_object.errors.full_messages.each do |msg| %>
      	<% unless msg.blank? %>
        <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end if error_message_object.errors.any? %>
