.ErrorExplanation { position: relative;
  margin: -20px -20px 20px; padding: 20px; background-color: $colorRedSecondary; color: $colorRed; font-size: 15px;
  h2 { margin: 0; padding: 0; font-size: 18px; }
  ul {
    margin: 10px 0 0 0; padding: 0;
    li {
      margin: 3px 0; padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .Close { position: absolute; top: 10px; right: 20px; text-decoration: none; color: $colorRed; font-size: 20px; 
      &:hover {
        color: lighten($colorRed, 10%)
      } 
  }
}

.User-content {
  .ErrorExplanation { margin: 0 -20px 20px !important; }
}

#flash {
  position: relative;
  margin: 0 -20px 20px -20px; padding: 20px; font-size: 15px; line-height: 1;
  .Close { position: absolute; top: 14px; right: 20px; text-decoration: none;  font-size: 20px;
  }

  &.error {
    background-color: $colorRedSecondary; color: $colorRed;
    .Close { color: $colorRed; 
      &:hover {
        color: lighten($colorRed, 10%)
      } 
    }
  }
  &.notice {
    background-color: $colorSubGreenSecondary; color: $colorSubGreen;
    .Close { color: $colorSubGreen; 
      &:hover {
        color: lighten($colorSubGreen, 10%)
      }
    }
  }
}

.Form {
  label { color: rgba(52,53,52,1); font-size: 15px; 
    em { color: $colorRed; font-style: normal; }
  }
  .Form-group {
    margin-bottom: 20px; position: relative;
    .button { margin: 0; }
    .Form-note {
      margin: 3px 0 0 0; padding: 0; color: #999; font-size: 13px;
    }
    &.Form-group {
      .field_with_errors {
        label { color: $colorRed; }
        input, textarea { border: 1px solid #D0021B !important  }
          .Form-note {
            color: $colorRed;
          }
      }
    }
    .Form-control--radio { 
      label {
        padding-right: 10px;
        input  { margin-left: 1px;  }
      }
    }
  }
  input[type="search"] {
    box-sizing: border-box;
  }
  input:active, input:focus { outline: none; }

  .Form-control {
    display: block;
    width: 100%;
    height: 36px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.4;
    background-color: #FFF;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid #DDD;
    border-radius: 3px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
      background-color: lighten(#000, 93.5%);
      opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
    }

    // [converter] extracted textarea& to textarea.form-control
    &:focus {
      outline: none;
    }

    &.u-noBorder {
      border: none;
      height: 34px;
    }
    &.u-noPush {
      padding: 0;
    }
  }

  .Form-link { display: inline-block;
     text-decoration: none; 
     &:hover { text-decoration: underline; }
    @include wide {
       margin-top: 30px;
    }
  }

  .Form-control--date { position: relative;
      &:before {
          font-family: 'vgo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
        content: '\e609';
        position: absolute; color: #9B9B9B; top: 7px; right: 5px; font-size: 21px;
      }
    }

textarea.Form-control { height: auto; }

  &.AppControls-search { position: relative;
    label { display: none; }
    .Form-group {
      margin-bottom: 0;
    }
    .Form-control {
      height: 30px; padding-right: 25px; border: 1px solid $colorGrayKeyline;
    }
    button {
      border: none; padding: 0; background-color: transparent; overflow: hidden; width: 20px; height: 25px; position: absolute; top: 0; right: 5px; color: $colorGrayKeyline;
      &:before {
        margin-right: 20px; font-size: 16px; position: relative; top: 2px;
      }
      &:active, &:focus {
        outline: none;
        &:before {
          color: #000;
        }
      }
    }
  }

  .Form-set {
    border-top: 1px solid #DDDDDD;
    legend { padding-right: 10px; font-family: $fontHighlight; margin-bottom: 10px; }
  }

}

@include wide {
.Form--dual { position: relative;
         .Form--dualDivider { overflow: auto; position: relative;
          &:before {
            content: ' '; margin: 0 auto;left: 50%; display: block; width: 1px; background-color: transparent; border-left: 1px solid #DDDDDD; position: absolute; top: 0; bottom: 0;
          }
    }
  }
}

.Image-upload { display: table;
  a { display: table-cell; vertical-align: middle; line-height: 1.3;
    @include border-radius(50%); width: 96px; height: 96px; text-align: center; border: 3px solid #9B9B9B; background-color: #D8D8D8; text-decoration: none; color: $colorGrayDark; font-size: 14px;
  }
}

.From-title { padding-top: 0; font-size: 18px; margin-bottom: 20px; }

.AudioContainer {
  .Media--file { width: 90%; }
  .Close {
    position: absolute;
    top: 0;
    right: 0;
    color: #D0021B;
    text-decoration: none;
  }
} 
