/**
*
* Utils
*
**/

/*==========  VARIABLES  ==========*/

  // Defining breakpoints
  $medium: 620px !default;
  $wide: 800px !default;
  $huge: 1600px !default;
  $mediumContainer: 688px !default;
  $wideContainer: 864px !default;

  // Defining grid sizes
  $mediumColCount: 3 !default;
  $mediumColWidth: 30.3% !default;
  $mediumGutterWidth: 4.5% !default;
  $wideColCount: 4 !default;
  $wideColWidth: 22.2% !default;
  $wideGutterWidth: 3.7% !default;

  // Defining colors
  $colorBlue: #4A90E2 !default;
  $colorBlueSecondary: lighten($colorBlue, 30%) !default;
  $colorGreen: rgba(131, 197, 55, 1) !default;
  $colorGreenSecondary: lighten($colorGreen, 30%) !default;
  $colorSubGreen: #417505;
  $colorSubGreenSecondary: #E3F2D4;
  $colorRed: #D0021B !default;
  $colorRedSecondary: #F9E3E3 !default;
  $colorYellow: #f4b400 !default;
  $colorYellowSecondary: lighten($colorYellow, 20%) !default;


  $colorRemember: #09829a !default;
  $colorLearning: #da2e75 !default;

  $colorGrayBackground: #FFFFFF !default;
  $colorGrayKeyline: rgba(155, 155, 155, 1) !default;
  $colorGray: #737373 !default;
  $colorGrayLight: #eeeeee !default;
  $colorGrayDark: #222222 !default;
  $colorGrayDarkLine: #444444 !default;


  $colorText: $colorGrayDark !default;
  $colorHighlight: $colorBlue !default;
  $colorWarning: $colorYellowSecondary !default;
  $colorMuted: $colorGray !default;
  $colorDanger: $colorRed !default;

  // Defining font family
  $fontDefault: Helvetica, Arial, sans-serif !default;
  $fontHighlight: 'source_sans_prosemibold', Helvetica, sans-serif !default;
  $fontIcon: 'icons' !default;

  // Defining font sizes
  $fontSmall: 14px !default;
  $fontBase: 15px  !default;
  $fontMedium: 18px !default;
  $fontLarge: 24px !default;
  $fontXLarge: 42px !default;
  $fontXXLarge: 68px !default;
  $fontHuge: 110px !default;

  // Defining baseline line height
  $lineHeight: 20px !default;

  // Defining animation easings
  $animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

  // Defining sidebar stuff
  $sidebarWidth: 280px !default;


/*==========  FUNCTIONS  ==========*/

  @function leading($size, $context: $lineHeight) {
    @return  $context / $size + em;
  }


/*==========  MIXINS  ==========*/

  @mixin media-query($media-query) {
    @if $media-query == small {
      @media only screen and (max-width: $medium - 1) { @content; }
    }

    @if $media-query == medium {
      @media only screen and (min-width: $medium) { @content; }
    }

    @if $media-query == medium-only {
      @media only screen and (min-width: $medium) and (max-width: $wide - 1) { @content; }
    }

    @if $media-query == wide {
      @media only screen and (min-width: $wide) { @content; }
    }

    @if $media-query == huge {
      @media only screen and (min-width: $huge) { @content; }
    }
  }

  // Just some helpers...
  @mixin small-only { @include media-query(small) { @content }; }
  @mixin medium { @include media-query(medium) { @content }; }
  @mixin medium-only { @include media-query(medium-only) { @content }; }
  @mixin wide { @include media-query(wide) { @content }; }
  @mixin huge { @include media-query(huge) { @content }; }

  // Mixin to constrain elements
  @mixin container($isRelative: false) {
    box-sizing: content-box;

    @if $isRelative {
      position: relative;
    }

    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;


    @include medium {
      padding-left: 4.8%;
      padding-right: 4.8%;
      max-width: $mediumContainer;
    }

    @include wide {
      padding-left: 4.4%;
      padding-right: 4.4%;
      max-width: $wideContainer;
    }
  }



  // Mixin to show a baseline grid
  // only visible when body has 'debug' class
  @mixin baseline-grid() {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      z-index: 9;

      display: none;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 95%,rgba(0,0,0,0.15) 100%);

      background-size: 100% 26px;
    }

    &.debug::after {
      display: block;
      pointer-events: none;
    }
  }

  // Mixins simply to store CSS rules
  @mixin rule--small {
    font-size: $fontSmall;
    line-height: 2.0000em; /* 26px */
    padding-top: 2.0000em;
    padding-bottom: 0;
  }

  @mixin rule--base {
    font-size: $fontBase;
    line-height: 1.6250em; /* 26px */
    padding-top: 1.6250em;
    padding-bottom: 0;
  }

  @mixin rule--medium {
    font-size: $fontMedium;
    /* font-weight: 300; */
    line-height: 1.3000em; /* 26px */
    padding-top: 1.3000em;
    padding-bottom: 0;
  }

  @mixin rule--large {
    font-family: $fontHighlight;
    font-size: $fontLarge;
    /* font-weight: 300; */
    line-height: 1.0000em; /* 26px */
    padding-top: 1.0000em;
    padding-bottom: 0;
  }

  @mixin rule--xlarge {
    font-family: $fontHighlight;
    font-size: $fontXLarge;
    /* font-weight: 300; */
    line-height: 1.2381em; /* 52px */
    padding-top: 0.6190em;
    padding-bottom: 0;
  }

  @mixin rule--xxlarge {
    font-family: $fontHighlight;
    font-size: $fontXXLarge;
    /* font-weight: 300; */
    line-height: 1.1471em; /* 78px */
    padding-top: 0.3824em;
    padding-bottom: 0;
  }

  @mixin rule--huge {
    font-family: $fontHighlight;
    font-size: $fontHuge;
    font-weight: 300;
    line-height: 1.19em; /* 130px */
    padding-top: 0.2364em;
    padding-bottom: 0;
  }



  // Mixins to determine which rule to use at which breakpoint
  @mixin type--small($isFromMixin: false) {
    @include rule--small;
  }

  @mixin type--base($isFromMixin: false) {
    @include rule--base;
  }

  @mixin type--medium($isFromMixin: false) {
    @if $isFromMixin == false {
      @include type--base(true);
      @include wide {
        @include rule--medium;
      }
    }
    @else {
      @include rule--medium;
    }
  }

  @mixin type--large($isFromMixin: false) {
    @if $isFromMixin == false {
      @include type--medium(true);
      @include wide {
        @include rule--large;
      }
    }
    @else {
      @include rule--large;
    }
  }

  @mixin type--xlarge($isFromMixin: false) {
    @if $isFromMixin == false {
      @include type--large(true);
      @include wide {
        @include rule--xlarge;
      }
    }
    @else {
      @include rule--xlarge;
    }
  }

  @mixin type--xxlarge($isFromMixin: false) {
    @if $isFromMixin == false {
      @include type--xlarge(true);
      @include wide {
        @include rule--xxlarge;
      }
    }
    @else {
      @include rule--xxlarge;
    }
  }

  @mixin type--huge($isFromMixin: false) {
    @if $isFromMixin == false {
      @include type--xxlarge(true);
      @include wide {
        @include rule--huge;
      }
    }
    @else {
      @include rule--huge;
    }
  }


  // LISTS
  @mixin bullet-type($bullet, $icon: false) {
    &::before {
      @if $icon {
        font-family: $fontIcon;
        @extend .#{$icon}::before;
        font-size: $fontSmall;
      }
      @else {
        content: $bullet;
        font-family: $fontHighlight;
      }

      display: block;
      font-weight: 400;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $lineHeight;

    }
  }

  @mixin numbered-list() {
    &::before {
      counter-increment: list;
      content: '0' counter(list);
      color: inherit;
      font-weight: 400;
      display: inline-block;
      position: absolute;
      left: 0;
    }
  }

  // Mixin to create links
  @mixin style-cta($textColor, $linkIcon: false) {
    font-family: $fontHighlight;
    color: $textColor;
    font-weight: 400;
    display: inline-block;
    line-height: 1;

    &:hover {
      color: $colorGrayDark;
    }

    @if $linkIcon {
      text-decoration: none;
      &::before {
        display: inline-block;
        padding-right: 10px;
        font-family: $fontIcon;
        line-height: ($lineHeight) - 1; // remove 1px from line-height to fix baseline alignment
        font-size: $fontSmall;
        content: $linkIcon;
      }
    }
  }

  // Mixin to create highlight modules
  @mixin highlight-symbol($verticalOffset: 0, $horizontalOffset: 45px, $fontSize: 130px) {
    position: relative;

    &::before {
      display: none;

      @include medium {
        display: block;
        position: absolute;
        top: 106px;
        right: $horizontalOffset;

        font-family: $fontIcon;
        font-size: $fontSize;
        line-height: 1px;
        text-align: center;
        height: 100%;
        width: $mediumColWidth;
        color: #ffffff;
      }

      .highlight-module--left & {
        right: auto;
        left: $horizontalOffset;
      }

      @include wide {
        top: 134px;
        width: $wideColWidth;
        font-size: $fontSize + 50;

        .highlight-module--large & {
          font-size: $fontSize + 300;
        }
      }
    }
  }

  // Grid CSS rules
  @mixin rule--col($mediaQuery) {
    @if $mediaQuery == medium {
      float: left;
      margin-right: $mediumGutterWidth;
    }

    @if $mediaQuery == wide {
      float: left;
      margin-right: $wideGutterWidth;
    }
  }


  // Grid CSS rules
  @mixin ff($ff) {
    @if $ff == b {
      font-family: 'source_sans_probold'; 
      font-weight: normal;
    }
    @if $ff == l {
      font-family: 'source_sans_prolight'; 
      font-weight: normal;
    }
    @if $ff == r {
      font-family: 'source_sans_proregular'; 
      font-weight: normal;
    }
    @if $ff == s {
      font-family: 'source_sans_prosemibold'; 
      font-weight: normal;
    }
  }

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}



@mixin rrule--small {
 font-size: $fontSmall;
}

@mixin rrule--base {
    font-size: $fontBase;
}

@mixin rtype--base($isFromMixin: false) {
    @if $isFromMixin == false {
      @include rrule--small;
      @include wide {
        @include rrule--base;
      }
    }
    @else {
      @include rule--base;
    }
  }

@include wide {
.u-w30px { width: 30px !important; }
.u-w40px { width: 40px !important; }
.u-w50px { width: 50px !important; }
.u-w60px { width: 60px !important; }
.u-w80px { width: 80px !important; }
.u-w100px { width: 100px !important; }
.u-w130px { width: 130px !important; }
.u-w140px { width: 140px !important; }
.u-w150px { width: 150px !important; }
.u-w160px { width: 160px !important; }
.u-w180px { width: 180px !important; }
.u-w200px { width: 200px !important; }
.u-w300px { width: 300px !important; }

.tar { text-align: right; }
}

.u-pw100 {
  width: 100%;
}
.u-pushTop10 {
  margin-top: 10px;
}
.u-pushTop20 {
  margin-top: 20px;
}
.u-pushTopBottom {
  margin: 20px 0;
}
.u-push2xTop {
  margin-top: 40px;
}
.u-2xpushTopBottom {
  margin: 40px 0;
}
.u-noPushTop { margin-top: 0 !important; }
.u-visibilityHidden { visibility: hidden; }



.u-table { display: table; vertical-align: top; table-layout: fixed; width: 100%; }
.u-col { display: table-cell; vertical-align: top; }


.u-fl {
  float: left;
}
.u-fr {
  float: right;
}
.u-links { text-decoration: none; 
  &:hover {
    text-decoration: underline;
  }
}
.button + .u-links { position: relative; top: 5px; }

