@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-Regular'),
         local('Source Sans Pro'),
         url('font-source-sans-pro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('font-source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('font-source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('font-source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSansPro-Semibold'),
       local('Source Sans Pro Semibold'),
       url('font-source-sans-pro/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
       url('font-source-sans-pro/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
       url('font-source-sans-pro/OTF/SourceSansPro-Semibold.otf') format('opentype'),
       url('font-source-sans-pro/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: local('SourceSansPro-Bold'),
       local('Source Sans Pro Bold'),
       url('font-source-sans-pro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
       url('font-source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
       url('font-source-sans-pro/OTF/SourceSansPro-Bold.otf') format('opentype'),
       url('font-source-sans-pro/TTF/SourceSansPro-Bold.ttf') format('truetype');
}
